<style>
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    scale: 2rem;
  }
</style>
<footer>
  <div class="f-info border-top">
    <div class="f-info-socials">
      <a href="https://m.facebook.com/m.basheer.756/"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://twitter.com/BasheerAhmedRa2?t=CQHuGr6BIgv9V9uXmRnWwg&s=09"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/mohammed-abubakar-479754298?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
